@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
}

img {
    max-width: 50vw;
    max-height: 25vw;
    display: block;
    margin: auto;
}

form {
    display: flex;
    justify-content: center;
    gap: 0.5em;
    flex-flow: row wrap;
    max-width: 40vw;
    margin: auto;
    align-items: baseline;
}

#name {
    border: 1px solid #FBB03B;
    border-radius: 10px;
    padding: 10px 15px;
    outline: none;
}

button[type="submit"] {
    border-radius: 10px;
    background-color: #ED1E79;
    border: 1px solid #ED1E79;
    color: #fff;
    padding: 10px 20px;
    margin: 10px auto;
    float: right;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    transition: all 0.2s ease;
}

button[type="submit"]:hover {
    background: transparent;
    color: #ED1E79;
}

#greeting {
    margin: 10px auto;
    padding: 10px 60px;
    border: 1px solid #29ABE2;
    text-align: center;
}

#greeting:empty {
    display: none;
}
